android/**/* linguist-vendored
ios/**/* linguist-vendored
linux/**/* linguist-vendored
macos/**/* linguist-vendored
windows/**/* linguist-vendored
web/**/* linguist-vendored

*.cpp linguist-documentation
*.h linguist-documentation
*.cc linguist-documentation
*.cxx linguist-documentation
*.cmake linguist-documentation
CMakeLists.txt linguist-documentation